html{
  background-color: black;
}

img{
  border: solid white;
  border-width: 5px;
  width: 100%;
}

.text{
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal; 
  text-align: center; 
}

h1{
  text-transform: uppercase;
}

p{
  font-size: 25px;
}

div{
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
}
